(
	should_cull: true,
	cuboids: [
		(
			min: ( 0.0, 0.0, 0.0 ),
			max: ( 1.0, 1.0, 1.0 ),
			sides: ((
				"DebugBlockX+",
				"DebugBlockX-",
				"DebugBlockY+",
				"DebugBlockY-",
				"DebugBlockZ+",
				"DebugBlockZ-",
			)),
		),
	],
)
