(
	should_cull: true,
	faces: ((
		[(
			min: ( 1.0, 0.0, 0.0 ),
			max: ( 1.0, 1.0, 1.0 ),
			side: "GrassBlockSide",
		)],
		[(
			min: ( 0.0, 0.0, 0.0 ),
			max: ( 0.0, 1.0, 1.0 ),
			side: "GrassBlockSide",
		)],
		[(
			min: ( 0.0, 1.0, 0.0 ),
			max: ( 1.0, 1.0, 1.0 ),
			side: "GrassBlockTopColored",
		)],
		[(
			min: ( 0.0, 0.0, 0.0 ),
			max: ( 1.0, 0.0, 1.0 ),
			side: "Dirt",
		)],
		[(
			min: ( 0.0, 0.0, 1.0 ),
			max: ( 1.0, 1.0, 1.0 ),
			side: "GrassBlockSide",
		)],
		[(
			min: ( 0.0, 0.0, 0.0 ),
			max: ( 1.0, 1.0, 0.0 ),
			side: "GrassBlockSide",
		)],
	)),
)
