(
	should_cull: true,
	faces: ((
		[(
			min: ( 1.0, 0.0, 0.0 ),
			max: ( 1.0, 1.0, 1.0 ),
			side: "LogSide",
		)],
		[(
			min: ( 0.0, 0.0, 0.0 ),
			max: ( 0.0, 1.0, 1.0 ),
			side: "LogSide",
		)],
		[(
			min: ( 0.0, 1.0, 0.0 ),
			max: ( 1.0, 1.0, 1.0 ),
			side: "LogTop",
		)],
		[(
			min: ( 0.0, 0.0, 0.0 ),
			max: ( 1.0, 0.0, 1.0 ),
			side: "LogTop",
		)],
		[(
			min: ( 0.0, 0.0, 1.0 ),
			max: ( 1.0, 1.0, 1.0 ),
			side: "LogSide",
		)],
		[(
			min: ( 0.0, 0.0, 0.0 ),
			max: ( 1.0, 1.0, 0.0 ),
			side: "LogSide",
		)],
	)),
)
